
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 600px) {
    .col-25, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

  /* example of styling lookups */
  ph-todo::part(buttonIcon) {
    background: url(downarrow.png) no-repeat 40% 70%;
    margin-top: -11px;
		left: 50%;
		margin-left: -7px;
		position: absolute;
		top: 50%;
  }

  /* button icon and hover */
  ph-todo::part(buttonBox):hover {
    background-color: #f1f1f1;
  }
  ph-todo::part(buttonBox) {
    border-left: 1px solid #898989;
  }

  /* input field */
  ph-todo::part(input) {
    height: 20px;
		border: solid 1px #b1abab;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding-left: 7px;
		padding-right: 20px;
		font-size: 11px;
		box-shadow: inset 0 0 1px 1px #e5e5e5;
  }
  ph-todo::part(input):focus {
    border: solid 1px #bf0027;
    box-shadow: 0 0 2px 2px #FF8930 !important;
		outline: none;
  }
  ph-todo::part(input):not(:focus):hover {
    box-shadow: 0 0 1px 1px rgb(77, 144, 254) !important;
  }
  